body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
 
.slide .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}
 
.intro {
    background: #305a5b;
}
 
.parallax {
    background: url(img/sapin.jpg);
    background-size: cover;
}
 
.slidein {
    background: #01151c;
}

#pictures {
    display: flex;
}

.spinpictures {
width: 25%;
padding: 3%;
}
 
.slidein2 {
    background: #1c5e6e;
}


 
.slidein2 .row {
    justify-content: center;
}

#play {
    color: #01151c;
}

#with {
    color: white;
}

#gsap {
    color: #01151c;
}

.slogan {
    font-size: 90px;
}

#slidein3 {
    background-color: #020d0f;
    text-align: center;
}

#boxbigtitle {
color: white;
}

#boxes {
    display: flex;
    margin: 0 auto;

}

.box {
    width: 20%;
    text-align: justify;
    padding: 3%;
}

#slidein4 {
    background-color: #1c4e59
}

#mountain2 {
    width: 20%;
    margin-right: 3%;
}

#moutaintext {
    z-index: 1;
}

.staggerline {
    line-height: 300%;
}

.curtains {
    
    background-color: #8ba7b2;
    display:flex;
}

#curtainLeft {
    background-color: #1c4e59;
    width: 50%;
    height: 100vh;
}

#curtainRight {
    background-color: #020d0f;
    width: 50%;
}   

#curtainText {
    color: #01151c;
    width: 100wh;
}

#lastText {
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
}