body {
    margin: 0;
    font-family: sans-serif;
}
 
.slide .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}
 
.intro {
    background: #305a5b;
}
 
.parallax {
    background: url(img/sapin.jpg);
    background-size: cover;
}
 
.slidein {
    background: #01151c;
}
 
.slidein2 {
    background: #1c5e6e;
}
 
.slidein2 .row {
    justify-content: center;
}